<div class="jumbotron">
    <h1>Phone Numbers</h1>
    <p class="lead">This is a list of phone numbers:</p>
    <table>
        <thead>
            <tr><@ViewBag</tr>
        </thead>
        <tr>
            <td></td>
        </tr>
    </table>
</div>